.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #ffff;
    padding: 12px 25px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: 1s;
}
.btn:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 1s;
    box-shadow: 0px 15px 25px var(--main-color);
}